@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .margin-auto {
    @apply mx-auto my-0;
  }

  .flex-column {
    @apply flex flex-col;
  }

  .custom-quill .ql-container {
    @apply border-none;
  }

  .custom-quill .ql-editor {
    @apply border-none;
  }
}

@layer utilities {
  .custom-hover {
    @apply hover:bg-grayScale-300 hover:cursor-pointer;
  }

  .elipsis-3 {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
}